.bookmark {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr auto;
    gap: 10px;
    margin-bottom: 10px;
}

.bookmark img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.bookmark input {
    width: 100%;
}